
#phone{
    width: 320px;
    height: 600px;
    background-color: white;
    text-align: center;
    overflow: auto;
}
body{
    background-color: black;
}
button{
    background-color: pink;
}
section{
    padding: 3%;
}
#forky{
    width: 200px;
    height: 450px;
}